#niveles {
    font-family: 'Oswald', sans-serif;
}
#niveles:hover {
    background-color:green;
    color:gray;
}

#table1 {
    width: 100%;
    border: 1px solid #000;
}

td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}
#menu {
	position: absolute; left: 10px; top: 100px; width: 200px;
}

#menu h3 {
	display: none;
}

#menu ul {
	margin-left: 10px;
}

#menu li {
	list-style-type: none;
} 

#ejer {
	margin-left: 200px; margin-right: 200px;
}

#ejer div {
    margin-left: 10px;
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
}


h3 {
    color: rgb(255, 115, 0);
    width:fit-content ;
    border: 0px solid black;
    font-family: 'Slabo 27px', serif;
}

.fijo {
    position: fixed;
    overflow:hidden;
}